<div class="container">
    <h2 class="m-2">{{ title }}</h2>
    <div class="w-100 p-2 d-flex flex-row-reverse">
      <button class="btn btn-primary">
        <img class="icon-plus-white" src="icons/icon-plus-white.png" alt="">
      </button>
    </div>
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
        @for(field of displayFields; track $index) {
            <th>{{ field  | titlecase }}</th>
          }
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (element of elements; track $index) {
        <tr>
          @for (field of displayFields; track $index) {
            <td> {{ element[field] }} </td>
          }
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="viewDetails(element)">View</a></li>
                <li><a class="dropdown-item" (click)="editElement(element)">Edit</a></li>
              </ul>
            </div>
          </td>
        </tr>
          }
      </tbody>
    </table>
  </div>
  