<div class="container py-4">
    <div class="row">
      <!-- Profile Picture Card -->
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-header bg-white fw-bold">Profile Picture</div>
          <div class="card-body text-center">
            @if(!user.photo) {
              <img class="profile-img" src="images/no_image_pic.png" alt="{{ user.name }} photo" />
            } @else {
              <img class="profile-img" [src]="user.photo" alt="{{ user.name }} photo" />
            }
            <p class="text-muted small">JPG or PNG no larger than 5 MB</p>
            <button class="btn btn-primary">Upload new image</button>
          </div>
        </div>
      </div>
  
      <!-- Account Details Card -->
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-header bg-white fw-bold">Account Details</div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label">First name</label>
                  <input
                    [(ngModel)]="user.name" 
                    name="firstName"
                    id="firstName"
                    type="text" 
                    class="form-control" 
                    placeholder="First Name">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label">Last name</label>
                  <input 
                    [(ngModel)]="user.name"
                    name="LastName"
                    id="LastName"
                    type="text" 
                    class="form-control" 
                    placeholder="LastName">
                </div>
              </div>
  
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input 
                    [(ngModel)]="user.email"
                    name="email"
                    id="email"
                    type="email" 
                    class="form-control" 
                    placeholder="name@example.com">
              </div>
              <div class="text-end">
                <button class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  