<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 align-items-center">
        <!-- Left side: Ocultar la imagen en pantallas pequeñas -->
        <div class="col-lg-6 d-none d-lg-flex justify-content-center">
            <img src="images/login.svg" class="img-fluid" alt="image-login">
        </div>
  
        <!-- Right side -->
        <div class="col-lg-6 col-md-8 col-12 d-flex justify-content-center">
            <div class="login-form text-center w-100">
                <h2 class="m-3">Log<span>in</span></h2>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3 text-start">
                        <label class="form-label">Email</label>
                        <input class="form-control"
                               type="email"
                               placeholder="Enter your email"
                               formControlName="email"
                               [class.is-invalid]="invalidEmail">
                        <div class="invalid-feedback">
                            Enter a valid email
                        </div>
                    </div>
  
                    <div class="mb-3 text-start">
                        <label class="form-label">Password</label>
                        <input class="form-control"
                               type="password"
                               placeholder="Enter your password"
                               formControlName="password"
                               [class.is-invalid]="invalidPassword">
                        <div class="invalid-feedback">
                            The password must have at least 8 characters
                        </div>
                    </div>
  
                    <div class="text-end">
                        <a href="#" class="text-decoration-none">Forgot Password?</a>
                    </div>
  
                    <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                  </form>
            </div>
        </div>
    </div>
  </div>